@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "About Us";
}

<div class="page-title dark-background" style="background-image: url(assets/img/footer-bg.jpg);">
    <div class="container position-relative">
        <h1>About Us</h1>
        <nav class="breadcrumbs">
            <ol>
                <li><a href="/">Home</a></li>
                <li class="current">About</li>
            </ol>
        </nav>
    </div>
</div>

<section id="about" class="about section">
    <div class="container">
        <div class="row position-relative">
            <div class="col-lg-7 about-img" data-aos="zoom-out" data-aos-delay="200"><img src="assets/img/korembi-logo.jpg"></div>
            <div class="col-lg-7" data-aos="fade-up" data-aos-delay="100">
                <h2 class="inner-title">About Korembi</h2>
                <div class="our-story">
                    <h4>Est 2016</h4>
                    <h3>Our Story</h3>
                    <p>Sebuah komunitas yang memfokuskan kepada anggotanya yang terdiri dari berbagai lapisan didalam dunia rental, tour/travel maupun transport wisata.
                        Anggota tidak dibatasi atau perkastaan yang dimulai dari supir, pengurus, marketing maupun owner langsung untuk tetap menjalin tali Persaudaraan dan silaturahmi.
                    </p>
                    <ul>
                        <li><i class="bi bi-check-circle"></i><span>Korembi terbentuk dari kumpulan rekan rekan pemilik rental bersama dalam satu diskusi</span></li>
                        <li><i class="bi bi-check-circle"></i><span>Korembi resmi didirikan pada 1 Mei 2016 di Jakarta</span></li>
                        <li><i class="bi bi-check-circle"></i><span>Korembi sudah disahkan oleh surat keputusan KEMENKUMHAM</span></li>
                        <li><i class="bi bi-check-circle"></i><span>Korembi memiliki 1 Kantor Pusat dan 28 KORDA/KORWIL</span></li>
                        <li><i class="bi bi-check-circle"></i><span>Korembi memiliki lebih dari 900-an anggota</span></li>
                    </ul>
                    <p>1 Jiwa, 1 Rasa dan Persaudaraan Tanpa Batas</p>

                    <div class="watch-video d-flex align-items-center position-relative">
                        <i class="bi bi-play-circle"></i>
                        <a href="https://www.youtube.com/watch?v=ZokUdGTDl1k" class="glightbox stretched-link">Watch Video</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="about" class="about section">
    <div class="container">
        <div class="row position-relative">
            <div class="col-lg-7 about-img" data-aos="zoom-out" data-aos-delay="200"><img src="assets/img/satria-korembi.png"></div>
            <div class="col-lg-7" data-aos="fade-up" data-aos-delay="100">
                <h2 class="inner-title">About Satria Korembi</h2>
                <div class="our-story">
                    <h4>Est 2018</h4>
                    <h3>Our Story</h3>
                    <p>Divisi keamanan dan Hukum dalam bagian struktur organisasi Korembi. Divisi Satria dibawah koordinasi ketua harian 3 di struktur Pusat Korembi.
                    </p>
                    <ul>
                        <li><i class="bi bi-check-circle"></i><span>Level KORDA ataupun KORWIL</span></li>
                        <li><i class="bi bi-check-circle"></i><span>Anggota Korembi secara otomatis anggota Satria</span></li>
                        <li><i class="bi bi-check-circle"></i><span>Divisi Satria membantu anggota untuk masalah gagal bayar pelanggan, mafia gadai atau rental</span></li>
                    </ul>
                    <p>1 Jiwa, 1 Rasa dan Persaudaraan Tanpa Batas</p>

                    <div class="watch-video d-flex align-items-center position-relative">
                        <i class="bi bi-play-circle"></i>
                        <a href="https://youtu.be/Lw7Y1SvkocQ?si=7TUwrfZWuw7WSu1A" class="glightbox stretched-link">Watch Video</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>